;; A list of paths to be backed up by Offsite
;; A path can include vector of files or directories to be included
;; TODO: Figure out some intelligent way to include regexes or globstrs for the excludes

[{:path "test/backup-data/du.out"}
 {:path "test/backup-data/music"
  :exclusions ["medium" "large"]}
 {:path "test/backup-data/photos"
  :exclusions ["DSC_0011.JPG" "DSC_0012.JPG" "DSC_0014.JPG" "DSC_0014.JPG" "DSC_0015.JPG" "DSC_0016.JPG" "DSC_0017.JPG"
               "DSC_0018.JPG" "DSC_0019.JPG" "DSC_0020.JPG" "DSC_0021.JPG" "DSC_0022.JPG" "DSC_0023.JPG" "DSC_002.JPG"]}]