
;; A list of paths to be backed up by Offsite
;; A path can include vector of files or directories to be included
;; TODO: Figure out some intelligent way to include regexes or globstrs for the excludes

[{:path "test/backup-data/active/du.out"}]