[{:path "test/backup-data/active/du.out"}
 {:path "test/backup-data/active/music"
  :exclude ["medium" "large"]}
 {:path "test/backup-data/active/photos"
  :exclude ["DSC_0011.JPG" "DSC_0012.JPG" "DSC_0014.JPG" "DSC_0014.JPG" "DSC_0015.JPG" "DSC_0016.JPG" "DSC_0017.JPG"
           "DSC_0018.JPG" "DSC_0019.JPG" "DSC_0020.JPG" "DSC_0021.JPG" "DSC_0022.JPG" "DSC_0023.JPG" "DSC_002.JPG"]}]